<header>
  <div class="menu" >
    <div id="nome">
      <p>Soluttis</p>
    </div>
      <ul>
        <li>Quem Somos</li>
        <li>Parceiros</li>
        <li>Ondes nos encontrar</li>
        <li>Fale Conosco</li>
        <li>Seja um Parceiro</li>
      </ul>
        <div id="social">
          <ul>
            <li><a target="_blank" href="https://www.instagram.com/soluttis/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://api.whatsapp.com/send/?phone=%2B556296972862&text&type=phone_number&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></li>
          </ul>
        </div>
  </div>
